<div class="container">
  <div class="container-1">
    <div class="box-1">
      <div class = "allTaskContainer"*ngIf="!listService.currentProject">
        <div class = "addButton"><button md-fab (click)="newProjectOnClick()"><md-icon>add</md-icon></button> Add List </div>
        <md-card *ngFor="let project of listService.projects" (click)="projectOnClick(project)">
          <div class="cardContent">
            <span>{{ project.name }}</span>
            <button md-mini-fab (click)="deleteProjectOnClick(project)">
              <md-icon>delete</md-icon>
            </button>
          </div>
        </md-card>
      </div>

      <div *ngIf="listService.currentProject">
      </div>

    </div>
  </div>
</div>
