.container {
  background: #F5F5F5;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

 .container-1{
  display: flex;
  justify-content: center;
  height: 80%;
  /*
  align-items:flex-start;
  align-items:flex-end;
  align-items:center;
  
  flex-direction:column;
  */
    }
  .box-1{
    align-self: top;
    margin-top: 2%;
    margin-bottom: 2%;
    background: #F8F8FF;
    width: 80%;
  }
  md-card{
    margin: 15px;
  }
  md-card:hover{
    background: #FFBF00;
    font-style: bold;
  }